<ul class="nav nav-tabs"> 
	<li class="active"><%= link_to "#{t("bootstrap-rails.list", :default => "List")}", estimates_path  %></li>  
	<li><%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_estimate_path %></li>
</ul>   
<h2 class="title"><%= t("bootstrap-rails.all", :default => "All")  %> <%= t("activerecord.models.estimates") %> </h2>
<table class="table table-striped table-bordered">
    <thead>             
      <th>#</th>   
            <th><%= t("activerecord.attributes.estimate.date", :default => "Date") %></th>
            <th><%= t("bootstrap-rails.created_at", :default => "Created at")  %></th>
      <th class="last">&nbsp;</th>
    </thead>                         
    <tbody>
      	<% @estimates.each do |estimate| -%>
        <tr>
          <td><%= estimate.id %></td>
                    <td><%= link_to estimate.date, estimate_path(estimate) %></td>
                    <td><%= estimate.created_at %></td>
          <td>
            <%= link_to "#{t("bootstrap-rails.show", :default => "Show")}", estimate_path(estimate) %> |
            <%= link_to "#{t("bootstrap-rails.edit", :default => "Edit")}", edit_estimate_path(estimate) %> |
            <%= link_to "#{t("bootstrap-rails.delete", :default => "Delete")}", estimate_path(estimate), :method => :delete, :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %> |
            <%= link_to "#{t("bootstrap-rails.print", :default => "Imprimir")}", estimate_reports_path(:estimate_id => estimate.id) %>
          </td>
        </tr>
        <% end -%>
    </tbody>
</table>
             

<%= will_paginate @estimates  %>



<% content_for :sidebar, render(:partial => 'sidebar') -%>
