<%= f.inputs do %>
    <%= f.input :name%>    
    <%= f.input :email%> 
    <%= f.input :password, :as => :password%> 
    <%= f.input :account_id, :as => :hidden, :value => current_user.account_id%>    
<% end -%>
<div class="actions">
  <input type="submit" class="btn btn-primary" value="Salvar">&nbsp;<%= link_to t("bootstrap-rails.cancel", :default => "Cancel"), users_path, :class => "btn" %>
</div>
