<ul class="nav nav-tabs"> 
	<li><%= link_to "#{t("bootstrap-rails.list", :default => "List")}", users_path  %></li> 
	<li><%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_user_path %></li>  
	<li class="active"><%= link_to "#{t("bootstrap-rails.show", :default => "Show")}", user_path %></li>
</ul>    


    <p>
      <b><%= t("activerecord.attributes.user.email", :default =>"Email") %>:</b>
      <%= @user.email %>
    </p>

    <p>
      <b><%= t("activerecord.attributes.user.encrypted_password", :default =>"Encrypted password") %>:</b>
      <%= @user.encrypted_password %>
    </p>

    <p>
      <b><%= t("activerecord.attributes.user.salt", :default =>"Salt") %>:</b>
      <%= @user.salt %>
    </p>

    <p>
      <b><%= t("activerecord.attributes.user.confirmation_token", :default =>"Confirmation token") %>:</b>
      <%= @user.confirmation_token %>
    </p>

    <p>
      <b><%= t("activerecord.attributes.user.remember_token", :default =>"Remember token") %>:</b>
      <%= @user.remember_token %>
    </p>

    <p>
      <b><%= t("activerecord.attributes.user.name", :default =>"Name") %>:</b>
      <%= @user.name %>
    </p>

    <p>
      <b><%= t("activerecord.attributes.user.account_id", :default =>"Account") %>:</b>
      <%= @user.account_id %>
    </p>
                  

<div class="actions">
	<%= link_to t("bootstrap-rails.edit", :default=> "Edit"), edit_user_path(@user), :class => "btn large primary" %>
    <%= link_to t("bootstrap-rails.delete", :default => "Delete"), user_path(@user), :method => "delete", :class => "btn large", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
</div>      
    
<% content_for :sidebar, render(:partial => 'sidebar') -%>

