<ul class="nav nav-tabs"> 
	<li><%= link_to "#{t("bootstrap-rails.list", :default => "List")}", specialties_path  %></li> 
	<li><%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_specialty_path %></li>  
	<li class="active"><%= link_to "#{t("bootstrap-rails.show", :default => "Show")}", specialty_path %></li>
</ul>    

<p>
  <b><%= t("activerecord.attributes.specialty.name", :default =>"Name") %>:</b>
  <%= @specialty.name %>
</p>


<div class="actions">
	<%= link_to t("bootstrap-rails.edit", :default=> "Edit"), edit_specialty_path(@specialty), :class => "btn large primary" %>
  <%= link_to t("bootstrap-rails.delete", :default => "Delete"), specialty_path(@specialty), :method => "delete", :class => "btn large", :confirm => "#{t("web-app-theme.confirm", :default => "Are you sure?")}" %>
</div>      

<% content_for :sidebar, render(:partial => 'sidebar') -%>

