<script>
jQuery(function($){   
    $(".valor_monetario").maskMoney({
         thousands: '.',
	     decimal: ',',
	     precision: 2
     });   
    $(".valor_monetario").msk();
});
</script>

<%= f.inputs do %>
   
    <%= f.input :account_id, :as => :hidden, :value => current_user.account_id%>

    <%= f.input :active%>
 
    <%= f.input :tuss%>
 
    <%= f.input :name%>

    <%= f.input :price_br, :input_html => {:class => "valor_monetario"}%>

    <%= f.file_field :image %>
    
<% end -%>
<div class="actions">
  <input type="submit" class="btn btn-primary" value="Salvar">&nbsp;<%= link_to t("bootstrap-rails.cancel", :default => "Cancel"), procedures_path, :class => "btn" %>
</div>
