<ul class="tabs nav nav-tabs"> 
	<li><%= link_to "#{t("bootstrap-rails.list", :default => "List")}", dentists_path  %></li>  
	<li class="active"><%= link_to "#{t("bootstrap-rails.new", :default => "New")}", new_dentist_path %></li>
</ul>
<h2 class="title"><%= t("bootstrap-rails.new", :default => "New")%>  <%= t("activerecord.models.dentist") %></h2> 
<div class="row-fluid">
	<%= semantic_form_for @dentist, :html => {:class => "form-horizontal"} do |f| -%>
	<%= f.semantic_errors %>
	<%= render :partial => "form", :locals => {:f => f} %>
	<% end -%>
</div>

<% content_for :sidebar, render(:partial => 'sidebar') -%>
